<!DOCTYPE html>
<html lang="en" ng-app="myBank">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Premium Bank</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/PaymentServiceHub/views/css/bootstrap.min.css"
	rel="stylesheet">
<!--[if lt IE 9]>
			<script src="/PaymentServiceHub/views/js/libs/html5.js"></script>
		<![endif]-->
<link href="/PaymentServiceHub/views/css/styles.css" rel="stylesheet">
<!-- script references -->
<script src="/PaymentServiceHub/views/js/libs/jquery-2.0.3.min.js"></script>
<script src="/PaymentServiceHub/views/js/libs/angular.min.js"></script>
<script src="/PaymentServiceHub/views/js/libs/angular-route.min.js"></script>
<script src="/PaymentServiceHub/views/js/libs/angular-resource.min.js"></script>
<script src="/PaymentServiceHub/views/js/bootstrap.min.js"></script>
<script src="/PaymentServiceHub/views/js/main.js"></script>
</head>
<body>
	<div class="container">
		<div class="login" id="loginFrm" ng-view></div>
	</div>
</body>
</html>