<!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h1 class="text-center">Login to Internet Banking</h1>
			</div>
			<div class="modal-body">
				<form class="form col-md-12 center-block">
					<div class="form-group">
						<input type="text" class="form-control input-lg"
							placeholder="User ID" ng-model="user.userId" required>
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-lg"
							placeholder="Password" ng-model="user.password" required>
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-lg btn-block"
							ng-click="loginUser(user)">Login</button>
					</div>
				</form>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>